
<div style="display: flex; justify-content: space-between;">
  <div class="deemphasize">darius.foo.tw at gmail</div>
  <!-- <div style="display: flex; justify-content: space-between; width: 37%;"> -->
  <div style="display: flex; justify-content: space-between; width: 27%;">
    <span><a href="https://www.github.com/dariusf">GitHub</a></span>
    <span><a href="https://scholar.google.com/citations?user=5x9STk4AAAAJ">Google Scholar</a></span>
    <!-- <span><a href="https://www.twitter.com/fariusdoo">Twitter</a></span> -->
  </div>
</div>
